// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

body {
  background-color: #f4f4f4;
  font-family: 'Nunito', sans-serif;
}

/* Container styling */
.container-fluid {
  background-color: #ff8400;
  padding: 20px;
}

/* Heading style */
.container-fluid h1 {
  font-family: 'Alegreya', serif;
  color: #fff;
}

/* Button style */
.container-fluid .btn-light {
  color: #000;
  background-color: #fff;
  border: none;
  font-weight: 500;
}

.container {
  margin-top: 20px;
}

/* Form style */
.form-group {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group .col-auto {
  margin-right: -15px;
}

.col-form-label {
  background-color: rgb(170, 170, 170);
}

/* Custom CSS for the sentence label */
.sentence-label {
  border: 1px solid #000; /* Add a black border */
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  margin: 10px 0; /* Add vertical margin */
}

/* Custom CSS for the button */
.custom-btn {
  color: #000;
  background-color: #fff;
  border: 1px solid #ff8400;
  margin-left: 5px;
}